
/* Navbar    */

*{
    margin: 0;
    padding: 0; 
    font-family: 'PT Sans', sans-serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Img/wedding3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-weight: 700;
    

}

.heads{
   display: none;
}



nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{

    width: 150px;

}

.nav-links{
    flex: 1;
    text-align: right;
    

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
        
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 1s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
   
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: #fff;
    
}

.read-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.read-btn:hover{
    background-color: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}


@media(max-width: 700px){

    .header{
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgb(15 30 4 / 20%)),url(../Img/gallery23.JPG);
        background-position: center;
        background-size: cover;
        position: relative;
        font-weight: 700;
        
    
    }

    .row{
        flex-direction: column;
    }
    
    .text-box h1{
        font-size: 30px;
    }
    .text-box p{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
        padding: 6px 12px !important;
    }
    .heads{
        margin-left: 2%;
        font-size: 2rem;
        font-weight: 600;
        color: white;
        display: block;
        font-family: 'Cookie', cursive;
    }
    
    .heads:hover{
    
        color: #f44336;
        cursor: pointer;
    }

    .nav-links{
        position: absolute;
        background: #f443364d;
        height: 36vh;
        width: 135px;
        top: 119px;
        display: none;
        right: -200px;
        text-align: center;
        z-index: 2;
        transition: 1s;
        margin-right: 1%;
        border-radius: 21px;

    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 0px;
        font-size: 20px;
        cursor: pointer;

    }   

}


.services{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    background-color: black;
}

.services h1{
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}

.services p{
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; 
    padding: 10px;
}

.services .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -5%;
}

.service-col{
    flex-basis: 31%;
    background: rgb(155, 189, 219);
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    
}

.service-col img{

    width: 100%;
    border-radius: 10px;
    transition: transform .2s;
}

.service-col img:hover{

    transform: scale(1.5);
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}

.service-col:hover{
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.2);
}






/* gallery */

.header-gallery{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Img/8.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-weight: 700;
    

}

.gallery{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    background-color:black;
    margin-bottom: -5%;
}

.gallery h1{
    font-size: 36px;
    font-weight: 500;
    color: white;

}

.gallery p{
    color: rgb(71, 67, 67);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.gallery .row{
    margin-top: 1%;
    display: flex;
    margin-left: 2%;
    justify-content: space-between;
}

.gallery-col{
    flex-basis: 50%;
    border-radius: 10px;
    padding: 12px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
    
}

.gallery-col img{

    width: 100%;
    border-radius: 10px;
    transition: transform .1s;
    
}

.gallery-col img:hover{

    transform: scale(1.2);
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}

.gallery-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){

    .header-gallery{
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgb(15 30 4 / 20%)),url(../Img/1.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        font-weight: 700;
        
    
    }
    .gallery .row{
        display: inline-block;
    }
    .gallery-col{
        float: left;
        width: 31% !important;
        margin-bottom: 10px;
        padding: 0 8px;
        background: rgb(0, 0, 0);
    }
}

/* about Us */

.header-about{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(4 9 30 / 0%),rgba(4,9,30,0.7)),url(../Img/about.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
    font-weight: 700;
    

}

.about{
    margin: auto;
}

.abouts{
    padding: 50px;
    text-align: center;
    background-color: #04070b;
    color:white;
}
.head{
    text-align: center;
    font-size: 4rem;
}

.containers{
    padding: 0 16px;
}

.container-fluid{
    padding: 0 180px;
    font-family: 'Teko', sans-serif;
    
}

.container-fluid p{
    font-family: 'Teko', sans-serif;
    font-size: 25px;
}

.row-about{
    padding: 20px 0;
    margin-left: 4%;
    margin-bottom: 600px;

}

.about-col{
    float: left;
    width: 23.0%;
    margin-bottom: 20px;
    padding: 0 8px;
}

.about-col a:hover{
    background-color: #951007;
    transition: 0s;
    
}

.cards{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
}

.titles{
    color: rgb(159, 22, 22);
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-title{
    text-align: center;
    font-size: 25px;
}

.button-about{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px 0px 5px 2px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}

@media(max-width: 700px){

    .header-about{
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgb(4 26 30 / 91%),rgb(15 30 4 / 20%)),url(../Img/gallery27.JPG);
        background-position: center;
        background-size: cover;
        position: relative;
        font-weight: 700;
        
    
    }
    .titles{
        color: rgb(159, 22, 22);
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about-col{
        width: 100%;
        display: block;
        padding: 0 0;
    }

    .container-fluid{
        padding: 0 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

       
    }

    .row-about{
        margin-bottom: 2850px;
    }
}



/* contact */
.header-contact{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(17 4 30 / 31%),rgb(25 28 32 / 65%)),url(../Img/purberty3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-weight: 700;
    

}


.contact{
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color:white;
    background-color: #000;
}
.head{
    text-align: center;
    font-size: 4rem;
}

.containers{
    padding: 0 10px;  
}

.container-fluid{
    padding: 0 180px;
}

.row-contact{
    padding: 20px 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 750px;
}

.contact-col{
    float: left;
    width: 45.0%;
    margin-bottom: 20px;
    padding: 0 8px;
}

.cards{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px 8px;
}

.title{
    color: grey;
    text-align: center;
}

.card-title{
    text-align: center;
}

.button-about{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px 0px 5px 2px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}


input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}


input[type=submit]{
	background-color: #04aa6d;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


.container{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

@media(max-width: 700px){
    .header-contact{
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgb(4 9 30 / 15%),rgb(15 30 4 / 20%)),url(../Img/wedding1.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        font-weight: 700;
        
    
    }
    .contact-col{
        width: 100%;
        display: block;
        padding: 0 0;

    }

	.container-fluid{
		padding: 0 20px;
	}

    .head{
        font-size: 3rem;
    }

    .container-contact{

        text-align: center;
        font-size: 2rem;
        background-color: #d1dcf5;
        margin-left: 5px;
        margin-top: 25px;
        margin-right: 8px;
        padding-bottom: 30px;
    }

    .socials-icons{

        display: flex;
        padding: 2px 45px !important;
    }

    .row-contact{
        margin-bottom: 1400px;
    }
}


.responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 150px;
    overflow: hidden;
}

.responsive-map-container iframe,   
.responsive-map-container object,  
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-contact{

    text-align: center;
    font-size: 2rem;
    background-color: #d1dcf5;
    margin-left: 5px;
    margin-top: 25px;
    margin-right: 4px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.socials-icons{

    display: flex;
    padding: 2px 180px;
}

.socials-icons li{
    list-style: none;
    margin-left: 2px;
}

.socials-icons li a{

    font-size: 1rem;
    justify-content: space-between;
    padding: 5px 5px;
    text-align: center;
    color: #000;
    margin-left: 4%;
}

.socials-icons li a:hover{
    color: #f44336;
}


/* Packages */
.header-packages{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(16 4 30 / 0%),rgba(4,9,30,0.7)),url(../Img/5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-weight: 700;
    

}


.packages{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
   
}

.packages h1{
    font-size: 60px;
    font-weight: 500;

}

.packages h2{
    font-size: 50px;
    font-weight: 400;
}
.packages h3{
    font-size: 40px;
    font-weight: 300;
}

.packages p{
    color: rgba(43, 233, 182, 0.762);
    font-size:20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

pre{
    text-align: center;
}

.packages .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    background-color:white;
}

.packages-col{
    flex-basis: 31%;
    color: white;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 2%;
    background-color: black;
    
}



.packages .interest{
    display: inline-block;
    text-decoration: none;
    background-color: rgba(14, 14, 227, 0.164);
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    border-radius: 15px;

}

.packages .interest:hover{
    background-color: #9b0000;
}


.packages-col img{

    width: 100%;
    border-radius: 10px;
    transition: transform .2s;
}
.packages-col h1{
    color:  red;
    font-size: 30px;
}
.packages-col h2{
    color:lightblue;
}

.packages-col img:hover{

    transform: scale(1.5);
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}

.packages-col:hover{
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.2);
}




@media(max-width: 700px){
    .header-packages{
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgb(12 4 30 / 33%),rgb(15 30 4 / 20%)),url(../Img/2.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        font-weight: 700;
        
    
    }
    .packages h1{
        font-size: 40px;
        font-weight: 300;
    
    }
    .packages h2{
        font-size: 30px;
        font-weight: 300;
    
    }
    .row{
        flex-direction: column;
    }
}



/* Footer */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;

	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 700px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
        margin-top: 30px;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;

	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
 

/* Footer */